---
apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  labels:
      app: "quarkus-workshop-fight"
      version: "01"
      group: "super-heroes"
  name: "quarkus-workshop-fight"
spec:
  replicas: 1
  selector:
      matchLabels:
          app: "quarkus-workshop-fight"
          version: "01"
          group: "super-heroes"
  template:
      metadata:
          labels:
              app: "quarkus-workshop-fight"
              version: "01"
              group: "super-heroes"
      spec:
          containers:
              - image: "esara/quarkus-workshop-fight"
                imagePullPolicy: "IfNotPresent"
                name: "quarkus-workshop-fight"
                ports:
                    - containerPort: 8080
                env:
                - name: "KUBERNETES_NAMESPACE"
                  valueFrom:
                    fieldRef:
                      fieldPath: "metadata.namespace"
                - name: QUARKUS_HTTP_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: fight-config
                      key: port
                - name: QUARKUS_DATASOURCE_JDBC_URL
                  valueFrom:
                    configMapKeyRef:
                      name: fight-config
                      key: database
                - name: IO_QUARKUS_WORKSHOP_SUPERHEROES_FIGHT_CLIENT_HEROPROXY_MP_REST_URL
                  valueFrom:
                    configMapKeyRef:
                      name: fight-config
                      key: hero
                - name: IO_QUARKUS_WORKSHOP_SUPERHEROES_FIGHT_CLIENT_VILLAINPROXY_MP_REST_URL
                  valueFrom:
                    configMapKeyRef:
                      name: fight-config
                      key: villain
                - name: KAFKA_BOOTSTRAP_SERVERS
                  valueFrom:
                      configMapKeyRef:
                          name: fight-config
                          key: kafka
---
apiVersion: "v1"
kind: "Service"
metadata:
    labels:
        app: "quarkus-workshop-fight"
        version: "01"
        group: "super-heroes"
    name: "quarkus-workshop-fight"
spec:
    ports:
        - name: "http"
          port: 8080
    selector:
        app: "quarkus-workshop-fight"
        version: "01"
        group: "super-heroes"
    type: "ClusterIP"
